// Badges
span.badge {
	min-width: 35px;
	padding: 0 3px;
	margin-left: 14px;
	text-align: center;
	font-size: 11px;
	line-height: $badge-height;
	height: $badge-height;
	background: #a5a9bb;
	color: white;
	float: right;
	box-sizing: border-box;
	text-align: center;
	border-radius: 2px;
}
