@function color($color-name) {
	@return var(--ahg-#{$color-name});
}

/*-------------------------------------------------
	Style colors Ahgora
-------------------------------------------------*/
$ahg-white: #fafafa;
$ahg-black: #000000;

$ahg-key-0: #f5f6f8;
$ahg-key-1: #f1f2f5;
$ahg-key-2: #dfdfe9;
$ahg-key-3: #c8cbda;
$ahg-key-4: #9196ac;
$ahg-key-5: #767e92;
$ahg-key-6: #515163;
$ahg-key-7: #3f3f4d;
$ahg-key-8: #282833;
$ahg-gray-0: #fafafa;
$ahg-gray-1: #eeeeee;
$ahg-gray-2: #dddddd;
$ahg-gray-3: #cccccc;
$ahg-gray-4: #aaaaaa;
$ahg-gray-5: #888888;
$ahg-gray-6: #666666;
$ahg-gray-7: #444444;
$ahg-gray-8: #333333;
$ahg-purple-0: #f0f0ff;
$ahg-purple-1: #ddddff;
$ahg-purple-2: #aaaadd;
$ahg-purple-3: #8888cc;
$ahg-purple-4: #6666cc;
$ahg-purple-5: #444499;
$ahg-purple-6: #333388;
$ahg-purple-7: #222277;
$ahg-purple-8: #111155;
$ahg-magenta-0: #fff3f6;
$ahg-magenta-1: #ffdddd;
$ahg-magenta-2: #ffaabb;
$ahg-magenta-3: #ee7799;
$ahg-magenta-4: #ee4477;
$ahg-magenta-5: #ee1155;
$ahg-magenta-6: #bb0044;
$ahg-magenta-7: #770022;
$ahg-magenta-8: #550011;
$ahg-cyan-0: #e6faff;
$ahg-cyan-1: #aaeeff;
$ahg-cyan-2: #77ddee;
$ahg-cyan-3: #44ccee;
$ahg-cyan-4: #22aaee;
$ahg-cyan-5: #1199dd;
$ahg-cyan-6: #2277cc;
$ahg-cyan-7: #2255aa;
$ahg-cyan-8: #224499;
$ahg-blue-0: #e8f6ff;
$ahg-blue-1: #aaddff;
$ahg-blue-2: #77aadd;
$ahg-blue-3: #4488bb;
$ahg-blue-4: #1166aa;
$ahg-blue-5: #114488;
$ahg-blue-6: #113377;
$ahg-blue-7: #112266;
$ahg-blue-8: #001155;
$ahg-green-0: #e4ffe8;
$ahg-green-2: #99eeaa;
$ahg-green-3: #66cc88;
$ahg-green-4: #44bb66;
$ahg-green-5: #22aa44;
$ahg-green-6: #119933;
$ahg-green-7: #118822;
$ahg-green-8: #116611;
$ahg-yellow-1: #ffffbb;
$ahg-yellow-2: #ffff88;
$ahg-yellow-3: #ffee66;
$ahg-yellow-4: #ffdd33;
$ahg-yellow-5: #ffcc22;
$ahg-yellow-6: #ffaa00;
$ahg-yellow-7: #ee8800;
$ahg-yellow-8: #cc6600;
$ahg-orange-6: #ffaa00;
$ahg-orange-7: #ee8800;
$ahg-orange-8: #cc6600;
$ahg-red-0: #fff4ed;
$ahg-red-1: #ffddcc;
$ahg-red-2: #ffccbb;
$ahg-red-3: #ff9988;
$ahg-red-4: #ee6655;
$ahg-red-5: #ee5544;
$ahg-red-6: #cc4433;
$ahg-red-7: #993322;
$ahg-red-8: #662211;

/*-------------------------------------------------
	Color Variables
-------------------------------------------------*/
$white: $ahg-white;
$black: $ahg-black;
$red: $ahg-red-5;
$key: $ahg-key-5;
$gray: $ahg-gray-5;
$purple: $ahg-purple-5;
$magenta: $ahg-magenta-5;
$cyan: $ahg-cyan-5;
$blue: $ahg-blue-5;
$green: $ahg-green-5;
$yellow: $ahg-yellow-5;
$red: $ahg-red-5;
$orange: #ff7020;
$olive: #b5cc18;
$teal: $ahg-cyan-4;
$violet: $ahg-purple-4;
$pink: $ahg-magenta-3;
$brown: #a5673f;

$primary-color: color('primary-base');
$primary-color-light: color('primary-lighten1');
$primary-color-dark: color('primary-darken1');

$secondary-color: $white;
$secondary-color-light: #f3f3f4;
$secondary-color-dark: $ahg-gray-6;

// Begin Theme Gol
/* $primary-color: rgb(255, 112, 32);
$primary-color-light: rgb(255, 156, 100);
$primary-color-dark: rgb(255, 112, 32);

$secondary-color: $white;
$secondary-color-light: #f3f3f4;
$secondary-color-dark: $ahg-gray-6;  */
// End theme gol

$success-color: $ahg-green-5;
$success-color-light: $ahg-green-4;
$success-color-dark: $ahg-green-6;

$error-color: $ahg-red-5;
$error-color-light: $ahg-red-4;
$error-color-dark: $ahg-red-6;

$warning-color: $ahg-yellow-5;
$warning-color-light: $ahg-yellow-4;
$warning-color-dark: $ahg-yellow-6;

$colors: (
	'primary-color': $primary-color,
	'primary-color-light': $primary-color-light,
	'primary-color-dark': $primary-color-dark,
	'secondary-color': $secondary-color,
	'secondary-color-light': $secondary-color-light,
	'secondary-color-dark': $secondary-color-dark,
	'success': $success-color,
	'warning': $warning-color,
	'error': $error-color,
	'danger': $error-color,
	'white': $white,
	'black': $black,
	'red': $red,
	'key': $key,
	'gray': $gray,
	'purple': $purple,
	'magenta': $magenta,
	'cyan': $cyan,
	'blue': $blue,
	'green': $green,
	'yellow': $yellow,
	'orange': $orange,
	'olive': $olive,
	'teal': $teal,
	'violet': $violet,
	'pink': $pink,
	'brown': $brown,
) !default;

$page-background-color: color('$page-background-color');
$logo-background-color: color('$logo-background-color');
$gray-base: color('$gray-base');
$gray-darken1: color('$gray-darken1');
$gray-darken2: color('$gray-darken2');
$gray-darken3: color('$gray-darken3');
$gray-lighten1: color('$gray-lighten1');
$gray-lighten2: color('$gray-lighten2');
$gray-lighten3: color('$gray-lighten3');
$gray-lighten4: color('$gray-lighten4');
$gray-lighten5: color('$gray-lighten5');
$waterloo-base: color('$waterloo-base');
$waterloo-darken1: color('$waterloo-darken1');
$waterloo-darken2: color('$waterloo-darken2');
$waterloo-darken3: color('$waterloo-darken3');
$waterloo-lighten1: color('$waterloo-lighten1');
$waterloo-lighten2: color('$waterloo-lighten2');
$waterloo-lighten3: color('$waterloo-lighten3');
$waterloo-lighten4: color('$waterloo-lighten4');
$waterloo-lighten5: color('$waterloo-lighten5');
$blue-base: color('$blue-base');
$blue-darken1: color('$blue-darken1');
$blue-darken2: color('$blue-darken2');
$blue-darken3: color('$blue-darken3');
$blue-lighten1: color('$blue-lighten1');
$blue-lighten2: color('$blue-lighten2');
$blue-lighten3: color('$blue-lighten3');
$blue-lighten4: color('$blue-lighten4');
$blue-lighten5: color('$blue-lighten5');
$cyan-base: color('$cyan-base');
$cyan-darken1: color('$cyan-darken1');
$cyan-darken2: color('$cyan-darken2');
$cyan-darken3: color('$cyan-darken3');
$cyan-lighten1: color('$cyan-lighten1');
$cyan-lighten2: color('$cyan-lighten2');
$cyan-lighten3: color('$cyan-lighten3');
$cyan-lighten4: color('$cyan-lighten4');
$cyan-lighten5: color('$cyan-lighten5');
$green-base: color('$green-base');
$green-darken1: color('$green-darken1');
$green-darken2: color('$green-darken2');
$green-darken3: color('$green-darken3');
$green-lighten1: color('$green-lighten1');
$green-lighten2: color('$green-lighten2');
$green-lighten3: color('$green-lighten3');
$green-lighten4: color('$green-lighten4');
$green-lighten5: color('$green-lighten5');
$yellow-base: color('$yellow-base');
$yellow-darken1: color('$yellow-darken1');
$yellow-darken2: color('$yellow-darken2');
$yellow-darken3: color('$yellow-darken3');
$yellow-lighten1: color('$yellow-lighten1');
$yellow-lighten2: color('$yellow-lighten2');
$yellow-lighten3: color('$yellow-lighten3');
$yellow-lighten4: color('$yellow-lighten4');
$yellow-lighten5: color('$yellow-lighten5');
$orange-base: color('$orange-base');
$orange-darken1: color('$orange-darken1');
$orange-darken2: color('$orange-darken2');
$orange-darken3: color('$orange-darken3');
$orange-lighten1: color('$orange-lighten1');
$orange-lighten2: color('$orange-lighten2');
$orange-lighten3: color('$orange-lighten3');
$orange-lighten4: color('$orange-lighten4');
$orange-lighten5: color('$orange-lighten5');
$red-base: color('$red-base');
$red-darken1: color('$red-darken1');
$red-darken2: color('$red-darken2');
$red-darken3: color('$red-darken3');
$red-lighten1: color('$red-lighten1');
$red-lighten2: color('$red-lighten2');
$red-lighten3: color('$red-lighten3');
$red-lighten4: color('$red-lighten4');
$red-lighten5: color('$red-lighten5');
$magenta-base: color('$magenta-base');
$magenta-darken1: color('$magenta-darken1');
$magenta-darken2: color('$magenta-darken2');
$magenta-darken3: color('$magenta-darken3');
$magenta-lighten1: color('$magenta-lighten1');
$magenta-lighten2: color('$magenta-lighten2');
$magenta-lighten3: color('$magenta-lighten3');
$magenta-lighten4: color('$magenta-lighten4');
$magenta-lighten5: color('$magenta-lighten5');
$purple-base: color('$purple-base');
$purple-darken1: color('$purple-darken1');
$purple-darken2: color('$purple-darken2');
$purple-darken3: color('$purple-darken3');
$purple-lighten1: color('$purple-lighten1');
$purple-lighten2: color('$purple-lighten2');
$purple-lighten3: color('$purple-lighten3');
$purple-lighten4: color('$purple-lighten4');
$purple-lighten5: color('$purple-lighten5');
$primary-base: color('$primary-base');
$primary-darken1: color('$primary-darken1');
$primary-darken2: color('$primary-darken2');
$primary-darken3: color('$primary-darken3');
$primary-lighten1: color('$primary-lighten1');
$primary-lighten2: color('$primary-lighten2');
$primary-lighten3: color('$primary-lighten3');
$primary-lighten4: color('$primary-lighten4');
$primary-lighten5: color('$primary-lighten5');
$secondary-base: color('$secondary-base');
$secondary-darken1: color('$secondary-darken1');
$secondary-darken2: color('$secondary-darken2');
$secondary-darken3: color('$secondary-darken3');
$secondary-lighten1: color('$secondary-lighten1');
$secondary-lighten2: color('$secondary-lighten2');
$secondary-lighten3: color('$secondary-lighten3');
$secondary-lighten4: color('$secondary-lighten4');
$secondary-lighten5: color('$secondary-lighten5');
$accent-base: color('$accent-base');
$accent-darken1: color('$accent-darken1');
$accent-darken2: color('$accent-darken2');
$accent-darken3: color('$accent-darken3');
$accent-lighten1: color('$accent-lighten1');
$accent-lighten2: color('$accent-lighten2');
$accent-lighten3: color('$accent-lighten3');
$accent-lighten4: color('$accent-lighten4');
$accent-lighten5: color('$accent-lighten5');
$success-base: color('$success-base');
$success-darken1: color('$success-darken1');
$success-darken2: color('$success-darken2');
$success-darken3: color('$success-darken3');
$success-lighten1: color('$success-lighten1');
$success-lighten2: color('$success-lighten2');
$success-lighten3: color('$success-lighten3');
$success-lighten4: color('$success-lighten4');
$success-lighten5: color('$success-lighten5');
$warning-base: color('$warning-base');
$warning-darken1: color('$warning-darken1');
$warning-darken2: color('$warning-darken2');
$warning-darken3: color('$warning-darken3');
$warning-lighten1: color('$warning-lighten1');
$warning-lighten2: color('$warning-lighten2');
$warning-lighten3: color('$warning-lighten3');
$warning-lighten4: color('$warning-lighten4');
$warning-lighten5: color('$warning-lighten5');
$info-base: color('$info-base');
$info-darken1: color('$info-darken1');
$info-darken2: color('$info-darken2');
$info-darken3: color('$info-darken3');
$info-lighten1: color('$info-lighten1');
$info-lighten2: color('$info-lighten2');
$info-lighten3: color('$info-lighten3');
$info-lighten4: color('$info-lighten4');
$info-lighten5: color('$info-lighten5');
$error-base: color('$error-base');
$error-darken1: color('$error-darken1');
$error-darken2: color('$error-darken2');
$error-darken3: color('$error-darken3');
$error-lighten1: color('$error-lighten1');
$error-lighten2: color('$error-lighten2');
$error-lighten3: color('$error-lighten3');
$error-lighten4: color('$error-lighten4');
$error-lighten5: color('$error-lighten5');
