@import './_color-variables.scss';
@import './_variables.scss';

.dropdown-content {
	border-radius: 4px !important;
	li {
		min-height: 38px;
		> a,
		> span {
			padding: 8px 13px !important;
			color: $form-color !important;
			font-size: 14px !important;
		}
		&:hover {
			background-color: $dropdown-hover-bg-color !important;
		}
		&.select {
			background-color: $dropdown-focus-bg-color !important;
		}
	}
}

.inputContainer {
	position: relative;
}

.select-wrapper {
	background: $white;
	border-radius: 4px;
	input.select-dropdown {
		max-width: 400px;
		max-height: 48px;
		margin: 8px;
		border: 1px solid $input-border-color;
		border-radius: 4px;
		box-sizing: border-box;
		background: transparent;
		padding: 16px 32px 14px 16px !important;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		box-shadow: 0 1px 2px rgba(40, 40, 51, 0.16);
		color: $form-color;
		z-index: 10;
		&:hover {
			border: 1px solid $input-border-color;
		}
		&:focus {
			border: 1px solid $primary-color;
		}
		&::-webkit-input-placeholder {
			/* Chrome & Safari */
			color: transparent;
		}
		&:-moz-placeholder {
			/* FF 4-18 */
			color: transparent;
		}
		&::-moz-placeholder {
			/* FF 19+ */
			color: transparent;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: transparent;
		}
		&:focus + .inputsLabel {
			color: $dropdown-hover-color;
			top: 100%;
			margin-top: -52px;
			font-size: 12px;
		}
		&:valid:not(:focus) + .inputsLabel {
			color: $dropdown-color;
			top: 100%;
			margin-top: -52px;
			font-size: 12px;
		}
	}

	.caret {
		fill: $dropdown-color;
		z-index: 9;
	}
}

.inputsLabel {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: $form-color;
	position: absolute;
	top: 22px;
	bottom: 0;
	left: 25px;
	transition: 0.3s;
}

/* .inputsLabel:read-only {
	color: #CCCCCC;
} */
.inputsLabelWithContent {
	top: 100%;
	margin-top: -52px;
	font-size: 12px;
}

.inputsLabelWithContent:focus {
	color: $primary-color;
}

.inputsLabelWithContent:not(:focus) {
	color: $form-color;
}
