.label {
  box-shadow: unset !important;
  border-color: rgba(40, 40, 51, 16%);
  font-weight: 400;
  border-width: 1px;

  @mixin label-color($color) {
    border-color: $color !important;
    color: $color !important;
    &:hover {
      color: $color !important;
    }
  }

  @each $color, $color_value in $colors {
    .#{$color} {
      @include label-color($color_value);
    }
  }
}
