/*----------------------------------------
  General Layout Style
------------------------------------------*/
html,
body {
	height: 100%;
}

body {
	background-color: $page-background;
	font-family: $font-family;
	font-size: $font-size;
	-webkit-print-color-adjust: exact;
}

#main {
	padding-left: $ahg-menu-width;
	min-height: -webkit-calc(100% - 116px);
	min-height: -moz-calc(100% - 116px);
	min-height: calc(100% - 116px);
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-top: 16px;
	&.main-full {
		padding-left: 0;
	}
}
.aside-none #main {
	padding-left: 0px;
}

.container {
	width: 100%;
	max-width: 100% !important;
	margin: 0 auto;
	padding: 0 16px;
}

footer {
	padding-left: 0;
}
footer.page-footer {
	padding-top: 1px;
}

select {
	width: 100%;
	height: 3rem;
	padding: 5px;

	border: none;
	border-bottom: 1px solid #bdbdbd;
	border-radius: 2px;
	background-color: transparent;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;

	-webkit-appearance: none;
}

i[class^='ahg-icn-'] {
	display: inline-block;
}

/*---------------------------------
      Typography
  -----------------------------------*/
a {
	text-decoration: none;
	color: $primary-color;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

[type='a'] {
	@extend a;
	display: inline-block;
}

html {
	font-weight: normal;
	line-height: 1.5;

	color: #6b6f82;
}
@media only screen and (min-width: 0) {
	html {
		font-size: $font-size;
	}
}
@media only screen and (min-width: 992px) {
	html {
		font-size: 14.5px;
	}
}
@media only screen and (min-width: 1200px) {
	html {
		font-size: 15px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	color: var(--ahg-waterloo-darken1);
	font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

p {
	font-size: $font-size;
	line-height: 24px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2 {
	font-size: 24px;
	line-height: 28px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 24px;
}

em {
	font-style: italic;
}

strong {
	font-weight: 500;
}

small {
	font-size: 12px;
	line-height: 20px;
}

.light {
	font-weight: 300;
}

.thin {
	font-weight: 200;
}

.flow-text {
	font-weight: 300;
}

@media only screen and (max-width: 768px) {
	.nav-expanded .brand-sidebar {
		background: transparent !important;
	}
	.brand-sidebar .logo-wrapper {
		padding: 17px 18px !important;

		text-align: center;

		background: transparent;
	}
}

.small {
	font-size: 1rem !important;
}

.medium-small {
	font-size: 0.9rem !important;
}

.ultra-small {
	font-size: 0.8rem !important;
}

small {
	font-size: 0.8rem;
}

.strong {
	font-weight: 600;
}

h4.header {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.508rem;

	margin: 1.14rem 0 0.912rem 0;

	text-transform: uppercase;
}

h4.header2 {
	font-size: 1.1rem;
	font-weight: 400;

	text-transform: uppercase;
}

p.title {
	font-size: 1.3rem;
}

p.header {
	font-size: 1rem;
	font-weight: 500;

	text-transform: uppercase;
}

.margin {
	margin: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

/*----------------------------------------
    Grid 
  ------------------------------------------*/
.section {
	padding: 16px 0;
}

.row {
	margin-bottom: 0;
}
.row .col {
	padding: 0 16px;
}

/*----------------------------------------
      Dropdown
  ------------------------------------------*/
.dropdown-content li:hover,
.dropdown-content li.active {
	background-color: #eee;
}

.dropdown-content li > a,
.dropdown-content li > span {
	padding: 14px 24px;
}
.dropdown-content li > a:hover,
.dropdown-content li > a.active,
.dropdown-content li > span:hover,
.dropdown-content li > span.active {
	background-color: #eee;
}

.dropdown-content li > a > i {
	width: 24px;
	margin: 0 12px 0 0;
}

/*----------------------------------------
      Badges
  ------------------------------------------*/
span.badge {
	color: #fff;
}
span.badge.pill {
	font-size: 0.8rem;
	line-height: 20px;

	min-width: 1rem;
	height: 20px;

	border-radius: 50%;
	border-radius: 9px;
}

/*----------------------------------------
    Material
  ------------------------------------------*/

/*----------------------------------------
      Pulse
  ------------------------------------------*/
.pulse-style-one {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.modal {
		position: -ms-page;
		top: 10%;
	}
	.modal.bottom-sheet {
		position: -ms-page;
		top: 155%;

		height: 100%;
	}
	.modal.bottom-sheet + .modal-overlay {
		position: -ms-page;
		top: 100%;
	}
	.modal-overlay {
		position: -ms-page;
		top: 5%;

		height: 100%;
	}
}

/*----------------------------------------
      SideNav - Main Menu
  ------------------------------------------*/
.sidenav-main {
	position: fixed;
	z-index: 999;
	top: 0;

	width: 200px;
	height: 100%;

	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

nav {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.brand-sidebar {
	position: fixed;
	top: 0;
	left: 0;

	width: inherit;
	height: 64px;

	background: #fff;
	-webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.brand-sidebar .logo-wrapper {
	font-size: 3rem;
	line-height: 17px !important;

	margin: 0;

	white-space: nowrap;
}
.brand-sidebar .logo-wrapper a.brand-logo img {
	height: 18px;
}
.brand-sidebar .logo-wrapper a.navbar-toggler {
	position: absolute;
	top: 7px;
	right: 22px;
}
.brand-sidebar .logo-wrapper a.navbar-toggler i {
	font-size: 15px;
	line-height: 56px;

	display: block;

	height: 56px;

	color: #333;
}
.brand-sidebar span.logo-text {
	font-size: 24px;

	visibility: visible;

	padding-left: 8px;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	opacity: 1;
}
.brand-sidebar .brand-logo {
	font-size: 2.1rem;
	line-height: 0;

	position: absolute;

	display: inline-block;

	margin: 1px 0;
	padding: 22px 12px;

	color: #333;
}
.brand-sidebar .brand-logo img {
	height: 18px;
}
.brand-sidebar .brand-logo.center {
	left: 50%;

	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
@media only screen and (max-width: 992px) {
	.brand-sidebar .brand-logo {
		left: 50%;

		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.brand-sidebar .brand-logo.left,
	.brand-sidebar .brand-logo.right {
		padding: 0;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.brand-sidebar .brand-logo.left {
		left: 0.5rem;
	}
	.brand-sidebar .brand-logo.right {
		right: 0.5rem;
		left: auto;
	}
}
.brand-sidebar .brand-logo.right {
	right: 0.5rem;

	padding: 0;
}
.brand-sidebar .brand-logo i,
.brand-sidebar .brand-logo [class^='mdi-'],
.brand-sidebar .brand-logo [class*='mdi-'],
.brand-sidebar .brand-logo i.material-icons {
	float: left;

	margin-right: 15px;
}
.sidenav {
	top: 64px;

	overflow: hidden;

	width: inherit;
	height: 100%;

	-webkit-transition: auto !important;
	-moz-transition: auto !important;
	-o-transition: auto !important;
	transition: auto !important;

	border: none;
	-webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.sidenav.native-scroll {
	overflow-y: scroll !important;
}
.sidenav a {
	line-height: 42px;

	height: 42px;
}
.sidenav .navigation-header {
	font-size: 0.85rem;
	font-weight: 600;

	margin-top: 10px;
	padding: 0 17px;

	text-transform: uppercase;
}
.sidenav .navigation-header .navigation-header-icon {
	display: none;
}
.sidenav .navigation-header .navigation-header-text {
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 30px;

	height: 30px;
	margin: 0;
	padding: 0 !important;

	color: #969696;
}
.sidenav .navigation-header .navigation-header-text:hover {
	background-color: transparent !important;
}
.sidenav li {
	line-height: 44px;

	padding: 0;
}
.sidenav li a {
	color: rgba(0, 0, 0, 0.87);
}
.sidenav li a i {
	font-size: 1.4rem;
	line-height: inherit;

	display: block;
	float: left;

	width: 2rem;
	margin-right: 1rem;

	text-align: center;
}
.sidenav .collapsible-header {
	font-weight: 400;

	margin: 0;
	/* Sidebar nav open close icons*/
}
.sidenav .collapsible-header:after {
	font-family: 'Material Icons';
	font-size: 18px;

	position: absolute;
	right: 16px;

	content: 'keyboard_arrow_right';
	transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out 0.1s,
		-webkit-transform 0.3s ease-in-out;

	color: #afafaf;
}
.sidenav .collapsible-header.active:after {
	content: 'keyboard_arrow_down';
}
.sidenav li .collapsible-body {
	background: transparent;
}
.sidenav li .collapsible-body a i {
	font-size: 0.7rem;
}
.sidenav li a.active {
	color: #fff;
	background: #303f9f;
}
.sidenav li a.active i {
	color: #fff;
}
.sidenav li:not(.active).open {
	background-color: rgba(0, 0, 0, 0.035);
}
.sidenav li.active {
	background-color: transparent;
}
.sidenav li.active > .collapsible-header:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sidenav li.open {
	background: rgba(0, 0, 0, 0.035);
}
.sidenav li > a,
.sidenav li a.collapsible-header {
	font-weight: 400;
	line-height: 44px;
	/* height: 44px; */
	padding: 0 16px !important;
}
.sidenav li > a > i.material-icons,
.sidenav li a.collapsible-header > i.material-icons {
	line-height: 44px;

	height: 44px;
	margin: 0 20px 0 0;
}
.sidenav li > a:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.035) !important;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
	background-color: #d1d6ef;
}
.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav .collapsible-body > ul:not(.collapsible) > li.active i,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active i {
	color: #3f51b5;
	background: none;
}

.nav-expanded .sidenav .menu-title {
	visibility: visible;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	opacity: 1;
}

.nav-expanded .navigation-header-text {
	display: block;
}

.nav-expanded .navigation-header-icon {
	display: none;
}

.nav-collapsed.sidenav-main {
	width: 64px;
}

.nav-collapsed .brand-sidebar .navbar-toggler,
.nav-collapsed .brand-sidebar .brand-logo span {
	visibility: hidden;

	-webkit-transition: visibility 0s 2s, opacity 0.05s linear;
	-moz-transition: visibility 0s 2s, opacity 0.05s linear;
	-o-transition: visibility 0s 2s, opacity 0.05s linear;
	transition: visibility 0s 2s, opacity 0.05s linear;

	opacity: 0;
}

.nav-collapsed .navigation-header-text {
	display: none;
}

.nav-collapsed .navigation-header-icon {
	display: block !important;
}

.nav-collapsed .sidenav .user-options,
.nav-collapsed .sidenav .menu-title,
.nav-collapsed .sidenav .collapsible-body span,
.nav-collapsed .sidenav .collapsible-header:after {
	display: none;
}

.nav-collapsed .sidenav .menu-title {
	visibility: visible;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	opacity: 1;
}

.nav-lock .navigation-header-icon {
	display: none;
}

.nav-collapsible.nav-collapsed span.badge.pill {
	visibility: hidden;

	-webkit-transition: visibility 0s 2s, opacity 0.05s linear;
	-moz-transition: visibility 0s 2s, opacity 0.05s linear;
	-o-transition: visibility 0s 2s, opacity 0.05s linear;
	transition: visibility 0s 2s, opacity 0.05s linear;

	opacity: 0;
}

.nav-collapsible span.badge {
	color: #fff;
}
.nav-collapsible span.badge.pill {
	position: absolute;
	right: 10px;

	visibility: visible;
	float: none;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	opacity: 1;
}

.sidenav-dark {
	background: #2c323f;
}
.sidenav-dark .brand-sidebar {
	background: #2c323f;
	-webkit-box-shadow: 0 -4px 7px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 -4px 7px 1px rgba(0, 0, 0, 0.2);
}
.sidenav-dark.sidenav-main .sidenav {
	background-color: transparent;
}
.sidenav-dark.sidenav-main
	.sidenav
	.collapsible-body
	> ul:not(.collapsible)
	> li.active,
.sidenav-dark.sidenav-main
	.sidenav.fixed
	.collapsible-body
	> ul:not(.collapsible)
	> li.active {
	background: #3f51b5;
}
.sidenav-dark.sidenav-main .sidenav li .navigation-header-text {
	color: #b0bec5;
}
.sidenav-dark.sidenav-main .sidenav li > a,
.sidenav-dark.sidenav-main .sidenav li .more-text {
	color: #fff;
}
.sidenav-dark.sidenav-main .sidenav li > a > i,
.sidenav-dark.sidenav-main .sidenav li .more-text > i {
	color: #fff;
}
.sidenav-dark.sidenav-main .sidenav li.bold > a:not(.active):hover,
.sidenav-dark.sidenav-main .sidenav li:not(.active).open {
	background-color: rgba(0, 0, 0, 0.1) !important;
}
.sidenav-dark.sidenav-main .collapsible {
	border: none;
}
.sidenav-dark.sidenav-main .brand-sidebar .brand-logo,
.sidenav-dark.sidenav-main .brand-sidebar .logo-wrapper a.navbar-toggler i {
	color: #fff;
}
.sidenav-dark.sidenav-gradient .brand-sidebar {
	background: transparent;
}
.sidenav-dark.sidenav-gradient.fixed .collapsible-body {
	background: transparent;
}
.sidenav-dark.sidenav-gradient.sidenav-main
	.sidenav
	li
	.navigation-header-text {
	color: #ececec;
}
.sidenav-dark .collapsible-header:after {
	color: #ececec;
}
.sidenav-dark .ps__rail-y:hover {
	background: transparent;
}

.navbar-fixed {
	height: 50px !important;
}

.navbar-full .brand-sidebar {
	background: transparent;
}
.navbar-full .brand-sidebar .brand-logo {
	color: #fff;
}
.navbar-full .brand-sidebar .logo-wrapper a.navbar-toggler i {
	color: #fff;
}

.sidenav-active-rounded .sidenav li > a.active {
	color: #fff;
	border-radius: 0 25px 25px 0;
}
.sidenav-active-rounded .sidenav li > a.active > i {
	color: #fff;
}

.sidenav-active-rounded .sidenav li:not(.open) > a.active {
	color: #fff;
}
.sidenav-active-rounded .sidenav li:not(.open) > a.active > i {
	color: #fff;
}

.sidenav-active-rounded .sidenav li:not(.active) > a:hover {
	margin-right: 16px;

	border-radius: 0 25px 25px 0;
}

.sidenav-active-rounded .sidenav li > a,
.sidenav-active-rounded .sidenav li a.collapsible-header {
	margin-right: 16px;
	padding: 0 0 0 16px !important;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.sidenav-active-rounded .sidenav .collapsible-header:after {
	right: 9px;
}

.sidenav-active-rounded.nav-collapsed li > a,
.sidenav-active-rounded.nav-collapsed li a.collapsible-header {
	margin-right: 10px;
}

.sidenav-active-rounded.nav-collapsed li.close {
	background-color: rgba(0, 0, 0, 0.08);
}

.sidenav-active-square .sidenav li > a.active {
	color: #fff;
	border-radius: 0 5px 5px 0;
}
.sidenav-active-square .sidenav li > a.active > i {
	color: #fff;
}

.sidenav-active-square .sidenav li:not(.open) > a.active {
	color: #fff;
}
.sidenav-active-square .sidenav li:not(.open) > a.active > i {
	color: #fff;
}

.sidenav-active-square .sidenav li:not(.active) > a:hover {
	margin-right: 16px;

	border-radius: 0 5px 5px 0;
}

.sidenav-active-square .sidenav li > a,
.sidenav-active-square .sidenav li a.collapsible-header {
	margin-right: 16px;
	padding: 0 0 0 16px !important;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.sidenav-active-square .sidenav .collapsible-header:after {
	right: 9px;
}

.sidenav-active-square.nav-collapsed li > a,
.sidenav-active-square.nav-collapsed li a.collapsible-header {
	margin-right: 10px;
}

.sidenav-active-square.nav-collapsed li.close {
	background-color: rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 992px) {
	.sidenav-main {
		width: auto;
		height: 0;
	}
	.sidenav-main .brand-sidebar {
		left: 80px;

		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.sidenav-main .brand-sidebar .navbar-toggler {
		display: none;
	}
	.sidenav-main .brand-sidebar .logo-wrapper {
		padding: 0 !important;
	}
	.sidenav-main .brand-sidebar .sidenav-trigger {
		top: -48px;
	}
	.sidenav-main .sidenav {
		top: 0;

		width: 260px;
	}
	.sidenav-main .btn-sidenav-toggle {
		position: relative;
		top: 10px;
		left: 10px;
	}
	.sidenav-dark.sidenav-main .sidenav {
		background: #2c323f;
	}
}

@media only screen and (max-width: 600px) {
	.sidenav-main .brand-sidebar .brand-logo {
		padding: 16px 12px 20px 12px;
	}
	.sidenav-main .btn-sidenav-toggle {
		position: relative;
		top: 6px;
		left: 6px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.sidenav .collapsible-header {
		/* Sidebar nav open close icons*/
	}
	.sidenav .collapsible-header:after {
		width: 0;

		content: '+';
	}
	.sidenav li.active > .collapsible-header:after {
		right: 0;

		width: 0;

		content: '-';
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

/*----------------------------------------
    Slideout - Right side chat slide out
------------------------------------------*/
#right-search .input-field {
	margin-top: 0;
}

#slide-out-right {
	top: 64px;

	overflow: hidden;
}
#slide-out-right .tab a {
	padding: 0 !important;
}
#slide-out-right.sidenav {
	top: 0;

	width: 340px;
	padding-bottom: 0;
}
#slide-out-right.sidenav li a.active {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#slide-out-right.sidenav .slide-out-right-body {
	overflow-y: hidden;

	width: 100%;
	height: -webkit-calc(100vh - 60px);
	height: -moz-calc(100vh - 60px);
	height: calc(100vh - 60px);
}
#slide-out-right.sidenav #messages {
	padding: 0.7rem;
}
#slide-out-right.sidenav #messages .header-search-input {
	width: 86%;
	height: 2.8rem;
	margin: 1rem;
	padding-left: 1rem;

	border: none;
	border-radius: 2rem;
	background-color: #eee;
}
#slide-out-right.sidenav #messages .collection {
	max-height: 100% !important;
}
#slide-out-right.sidenav #messages .collection .collection-item {
	border: none;
}
#slide-out-right.sidenav #messages .collection ul.collection {
	overflow: hidden;

	max-height: 100% !important;

	border: none;
}
#slide-out-right.sidenav #messages .collection ul.collection li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	padding-top: 1.2rem;

	cursor: pointer;
}
#slide-out-right.sidenav #messages .collection ul.collection li .user-content {
	margin-top: 0.4em;
	margin-left: 1rem;
}
#slide-out-right.sidenav
	#messages
	.collection
	ul.collection
	li
	.secondary-content {
	top: 1.6rem;

	color: #c5cae9;
}
#slide-out-right.sidenav #messages .collection ul.collection li:hover {
	background-color: #f5f5f5;
}
#slide-out-right .fixed-line-height {
	line-height: 24px;
}
#slide-out-right #chatapp li {
	line-height: 35px !important;

	min-height: 70px !important;
}
#slide-out-right #chatapp .sidenav li {
	line-height: 20px !important;
}

.chat-close-collapse {
	padding: 5px 15px 0 0;
}

.icon-bg-color {
	font-size: 20px;

	width: 35px;
	height: 35px;
	padding-top: 8px;

	text-align: center;

	border-radius: 50%;
}

.border-bottom-1 {
	border-bottom: 1px solid #f5f5f5;
}

#activity ul.collection {
	max-height: 100% !important;
}

#activity .collection::before {
	position: absolute;
	top: 1rem;
	left: 4%;

	width: 1px;
	height: 100%;
	margin-left: -1px;

	content: '';

	background-color: #e0e0e0;
}

#activity .collection-item::before {
	font-family: 'Material Icons';
	font-size: 1rem;

	position: absolute;
	left: 1.6%;

	content: 'lens';

	color: #e0e0e0;
	border-radius: 100%;
}

#activity .collection {
	border: none;
}
#activity .collection .collection-item {
	margin-bottom: 1rem;
	padding-left: 2rem;

	border: none;
}
#activity .collection .collection-item p {
	font-size: 0.9rem;
}
#activity .collection .collection-item .badge {
	float: none;

	margin: 0;
	padding: 0.3rem 0.5rem 0.4rem 0.5rem;
}
#activity .collection .collection-item .secondary-content {
	font-size: 0.9rem;

	color: #c5cae9;
}

.slide-out-right-sidenav-chat {
	top: 0;

	width: 340px;
}

#settings ul.collection {
	max-height: 100% !important;
}

@media only screen and (max-width: 992px) {
	#slide-out-right {
		top: 0;
	}
	#slide-out-right.sidenav {
		height: 100% !important;
	}
}

#slide-out-chat .chat-head,
#slide-out-chat .chat-footer {
	z-index: 1;

	width: 100%;

	background-color: #eceff1;
}

#slide-out-chat .chat-footer {
	bottom: -0.6rem;
}
#slide-out-chat .chat-footer form {
	background-color: #eceff1;
}
#slide-out-chat .chat-footer input {
	width: 80%;
	margin-left: -2rem;
	padding-left: 1rem;

	border: none;
	border-radius: 3rem;
	background-color: #fff;
}
#slide-out-chat .chat-footer label {
	margin-top: -0.7rem;
	margin-left: 2rem;
}
#slide-out-chat .chat-footer label:not(.label-icon).active {
	display: none;
}
#slide-out-chat .chat-footer i {
	cursor: pointer;
}
#slide-out-chat .chat-footer a {
	line-height: 2rem;

	position: absolute;

	width: 40px;

	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#slide-out-chat .speech-bubble {
	position: relative;

	margin-left: 1rem;

	border-radius: 0.3rem;
	background: #eceff1;
}

#slide-out-chat .speech-bubble:after {
	position: absolute;
	top: 50%;
	left: -9px;

	width: 0;
	height: 0;
	margin-top: -20px;

	content: '';

	border: 10px solid transparent;
	border-right-color: #eceff1;
	border-left: 0;
}

#slide-out-chat .speech-bubble-right {
	position: relative;

	margin-left: 1rem;

	color: #fff;
	border-radius: 0.3rem;
	background-color: #3f51b5;
}

#slide-out-chat .speech-bubble-right:after {
	position: absolute;
	top: 50%;
	right: 0;

	width: 0;
	height: 0;
	margin-top: -16px;
	margin-right: -8px;

	content: '';

	border: 10px solid transparent;
	border-right: 0;
	border-left-color: #3f51b5;
}

#slide-out-chat .chat-body ul.collection {
	top: 0;

	margin-top: 0;
	margin-bottom: 0;
}

#slide-out-chat .collection {
	top: 48px;

	height: -webkit-calc(100vh - 129px);
	height: -moz-calc(100vh - 129px);
	height: calc(100vh - 129px);
}
#slide-out-chat .collection .collection-item {
	min-height: auto;
	margin-bottom: 1rem;

	border: none;
}
#slide-out-chat .collection .collection-item .user-content {
	padding: 1rem;
}

@media (max-width: 600px) {
	#slide-out-right.sidenav {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

/*----------------------------------------
	Breadcrumb
------------------------------------------*/
#breadcrumbs-wrapper {
	padding: 20px 0;

	background: transparent;
}
#breadcrumbs-wrapper .breadcrumbs-btn {
	top: 24px;
}
#breadcrumbs-wrapper h5.breadcrumbs-header {
	font-size: 1.64rem;
	line-height: 1.804rem;

	margin: 1.5rem 0 0 0;
}
#breadcrumbs-wrapper .breadcrumbs {
	margin: 15px 0;
	padding: 0;

	list-style: none;
}
#breadcrumbs-wrapper .breadcrumbs > li {
	display: inline-block;
}
#breadcrumbs-wrapper .breadcrumbs > li + li::before {
	font-family: 'Material Icons';

	position: relative;
	top: 3px;

	padding: 0 5px 0 4px;

	content: 'keyboard_arrow_right';

	color: #bdbdbd;
}
#breadcrumbs-wrapper .breadcrumbs .active {
	font-weight: normal;

	color: #9e9e9e;
}
#breadcrumbs-wrapper .breadcrumbs-title {
	font-size: 1.4rem;
	line-height: 1.4rem;
}
#breadcrumbs-wrapper .breadcrumbs-nav {
	margin: 8px 0 9px;
}
#breadcrumbs-wrapper.breadcrumbs-bg-image {
	position: relative;
	z-index: 1;

	color: #fff;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
#breadcrumbs-wrapper.breadcrumbs-bg-image .breadcrumbs-title {
	color: #fff;
}
#breadcrumbs-wrapper.breadcrumbs-bg-image .breadcrumbs {
	margin: 10px 0;
}
#breadcrumbs-wrapper.breadcrumbs-bg-image .breadcrumbs a {
	color: rgba(255, 255, 255, 0.8);
}
#breadcrumbs-wrapper.breadcrumbs-bg-image .breadcrumbs .active {
	color: rgba(255, 255, 255, 0.9);
}
#breadcrumbs-wrapper.breadcrumbs-bg-image::before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	content: '';

	background-color: rgba(0, 0, 0, 0.07);
}
#breadcrumbs-wrapper.breadcrumbs-dark .breadcrumbs-title,
#breadcrumbs-wrapper.breadcrumbs-dark a {
	color: rgba(255, 255, 255, 0.85);
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-title,
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs {
	display: inline;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-left {
	position: relative;
	top: 8px;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-title {
	padding-right: 20px;

	border-right: 1px solid #bdbdbd;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs {
	padding-left: 20px;
}
#breadcrumbs-wrapper.breadcrumbs-inline .breadcrumbs-btn {
	top: 0;
}
#breadcrumbs-wrapper .breadcrumbs-right .breadcrumbs {
	float: right;

	margin-top: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#breadcrumbs-wrapper .breadcrumbs > li + li::before {
		top: 0;

		width: 0;

		content: '/';
	}
}

/*----------------------------------------
    Forms
------------------------------------------*/
.input-field div.error {
	font-size: 0.8rem;

	position: relative;
	top: 0rem;
	left: 0rem;

	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);

	color: #ff4081;
}

.input-field label.active {
	width: 100%;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
	border: 2px solid $primary-color;
}
[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
	background-color: $primary-color;
}

/*----------------------------------------
    Tables
------------------------------------------*/
table.dataTable.dtr-inline.collapsed
	> tbody
	> tr[role='row']
	> td:first-child:before,
table.dataTable.dtr-inline.collapsed
	> tbody
	> tr[role='row']
	> th:first-child:before {
	line-height: 15px;

	top: 19px;

	text-indent: -1px !important;
}

/*----------------------------------------
Cards
------------------------------------------*/
.card {
	overflow: hidden;

	margin: 1rem 0 1rem 0;
}
.card .card-title {
	font-size: 18px;
	font-weight: 400;

	margin: 0;
}
.card .activator {
	cursor: pointer;
}

#card-stats .card-content {
	text-align: center;
}

#card-stats .card-stats-title {
	font-size: 1rem;
}
#card-stats .card-stats-title i {
	font-size: 1.2rem;

	position: relative;
	top: 3px;
}

#card-stats .card-stats-compare {
	font-size: 0.85rem;
}
#card-stats .card-stats-compare i {
	position: relative;
	top: 8px;
}

#card-stats .card-stats-number {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2rem;

	margin: 0.8rem 0 0.6rem 0;
}

#card-stats .card .card-content {
	padding: 10px 14px;
}

#card-stats .card .card-action {
	padding: 10px 14px;
}

.vertical-align-top {
	vertical-align: top;
}

.card-animation-1,
.image-n-margin {
	margin-top: -50px;

	-webkit-transition: 0.3s;
	/* Safari */
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.card-animation-1:hover .image-n-margin {
	margin-top: -80px;
	margin-bottom: 30px;

	cursor: pointer;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

/* alert card */
.card-alert .card-content {
	padding: 10px 20px;
}

.card-alert i {
	font-size: 20px;

	position: relative;
	top: 2px;
}

.card-alert .alert-circle {
	position: relative;
	top: -5px;
	left: -2px;

	display: inline-block;

	width: 40px;

	vertical-align: bottom;
	white-space: nowrap;

	border-radius: 1000px;
}

.card-alert .single-alert {
	line-height: 42px;
}

.card-alert button {
	font-size: 20px;

	position: absolute;
	top: 5px;
	right: 10px;

	color: #fff;
	border: none;
	background: none;
}

.card-alert .card .card-content {
	padding: 20px 40px 20px 20px;
}

.card-alert .card-action i {
	top: 0;

	margin: 0;
}

/* work card */
#work-collections .collection-header {
	font-size: 1.14rem;
	font-weight: 500;
}

#work-collections p.collections-title {
	font-size: 1rem;
	font-weight: 500;

	margin: 0;
	padding: 0;
}

#work-collections p.collections-content {
	font-size: 0.9rem;
	font-weight: 400;

	margin: 0;
	padding: 0;
}

#work-collections .collection-item.avatar {
	height: auto;
	padding-top: 22px;
}

/* flight card */
#flight-card .flight-card-title {
	font-weight: 300;

	margin: 0;

	color: #fff;
}

#flight-card .flight-card-date {
	font-size: 1rem;
	margin: 0;
	color: #fff;
}

#flight-card .flight-state {
	padding-bottom: 15px;
}

#flight-card .flight-state-two {
	border-left: 1px dashed #bdbdbd;
}

#flight-card .flight-icon {
	font-size: 2.2rem;

	display: block;

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#flight-card .card-content-bg {
	/* background: url('../../../images/gallery/3.png') no-repeat center center; */
	-webkit-background-size: cover;
	background-size: cover;
}

#flight-card .card-content {
	background: rgba(0, 0, 0, 0.25);
}

#flight-card .flight-state-wrapper {
	margin: 0 0 80px 0 !important;
}

#flight-card .card-header .card-title {
	padding: 20px;
}

/* task card */
#task-card label {
	display: block;

	height: auto;

	color: rgba(0, 0, 0, 0.87);
}

#task-card .task-card-title {
	font-weight: 300;

	margin: 0;

	color: #fff;
}

#task-card .task-card-date {
	font-size: 1rem;

	margin: 0;

	color: #fff;
}

#task-card .collection-header {
	padding: 20px;
}

#task-card .task-add {
	position: absolute;
	top: 76px;
	right: 10px;
}

#task-card .task-cat {
	font-size: 0.8rem;
	font-weight: 300;

	margin-left: 37px;
	padding: 2px 4px;

	color: #fff;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.task-cat {
	font-size: 0.8rem;
	font-weight: 300;

	padding: 2px 4px;

	color: #fff;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.collection .collection-item.avatar i.circle {
	font-size: 28px;
}

/* profile card */
#profile-card .card-image {
	height: 150px;
}

#profile-card .card-profile-image {
	position: absolute;
	z-index: 1;
	top: 110px;

	width: 70px;

	cursor: pointer;
}

#profile-card .btn-move-up {
	position: relative;
	top: -40px;
	right: -18px;

	margin-right: 10px !important;
}

#profile-card .card-content .profile-card-i {
	position: relative;
	top: 6px;

	margin-right: 10px;
}

#profile-card .card-content p {
	font-size: 1rem;

	margin: 10px 0 12px;
}

.card-move-up .move-up {
	padding: 20px;
}

.black-overlay {
	background-color: rgba(0, 0, 0, 0.42) !important;
}

.bg-image-1 {
	width: 100%;

	/* background-image: url('../../../images/cards/macbook.png'); */
	-webkit-background-size: cover;
	background-size: cover;
}

.bg-image-2 {
	width: 100%;

	/* background-image: url('../../../images/cards/iphone.png'); */
	-webkit-background-size: cover;
	background-size: cover;
}

.bg-image-3 {
	width: 100%;

	/* background-image: url('../../../images/cards/applewatch.png'); */
	-webkit-background-size: cover;
	background-size: cover;
}

.icon-background {
	width: 50px;
	height: 50px;
	margin: 8px;
	padding-top: 11px;
}

#profile-card .card-reveal i.material-icons {
	position: relative;
	top: 6px;
}

#user-card .flip-card {
	max-width: 100%;
}

@media screen and (min-width: 1290px) {
	.icon-background {
		width: 3.125rem;
		height: 3.125rem;
		margin: 1.25rem;
		margin-left: 2rem;
		padding-top: 0.6875rem;
	}
}

@media screen and (max-width: 1366px) {
	.icon-background {
		margin-left: 1.25rem;
	}
}

@media screen and (min-width: 1440px) {
	.icon-background {
		margin-left: 2rem;
	}
}

@media screen and (min-width: 1680px) {
	.icon-background {
		margin-left: 2.6875rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
	.icon-background {
		margin-left: 0.25rem;
	}
}

@media screen and (max-width: 992px) {
	.icon-background {
		margin-left: 1.875rem;
	}
}

@media screen and (max-width: 786px) {
	.icon-background {
		margin-left: 0.9375rem;
	}
}

@media screen and (max-width: 540px) {
	.icon-background {
		margin-left: 0.625rem;
	}
}

.small-ico-bg {
	padding: 6px;

	border-radius: 50%;
	background-color: #f3f1f1;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
	#cards-extended #gradient-Analytics .card-width,
	#cards-extended #card-with-analytics .card-width,
	#cards-extended #card-panel-type .card-width {
		width: 50%;
	}
}

/*----------------------------------------
    Charts
------------------------------------------*/
#card-stats {
	padding-top: 12px;
}

#chart-dashboard .card {
	overflow: hidden;
}

#chart-dashboard .card .card-content {
	padding: 10px 14px;
}

#chartjs .sample-chart-wrapper,
#chartjs2 .sample-chart-wrapper,
#chartjs3 .sample-chart-wrapper {
	margin-top: -75px;
	margin-bottom: -14px;
}

.sample-chart-wrapper {
	width: 100%;
}

.chart-title {
	font-size: 1.6rem;
	font-weight: 300;
}

/* Revenue Chart */
.chart-revenue {
	float: right;

	padding: 8px;

	text-align: center;

	border-radius: 3px;
}
.chart-revenue .chart-revenue-total {
	font-size: 0.9rem;

	margin: 0;
}
.chart-revenue .chart-revenue-per {
	font-size: 0.8rem;

	margin: 0;
}
.chart-revenue .chart-revenue-per i {
	position: relative;
	top: 5px;
}

.chart-revenue-switch {
	padding-top: 28px;
	padding-right: 10px;

	text-align: right;

	color: #fff;
}

#materialize-chartist .ct-chart-line,
#materialize-chartist .ct-chart-bar,
#materialize-chartist .ct-chart-pie,
#materialize-chartist .ct-chart-donut {
	height: 400px !important;
}

/* doughnut chart */
.doughnut-chart-status {
	font-size: 16px;
	font-weight: 500;

	position: relative;
	top: -75px;
	left: 0;

	height: 0;

	text-align: center;
}
.doughnut-chart-status p {
	margin-top: -5px;
}

.doughnut-chart-legend li {
	font-size: 0.9rem;

	padding: 2px 0;
}
.doughnut-chart-legend li:before {
	display: block;
	float: left;

	width: 8px;
	height: 8px;
	margin-top: 6px;
	margin-right: 4px;

	content: '';
}

a.button-collapse.top-nav {
	font-size: 32px;

	position: absolute;
	z-index: 2;
	top: 0;
	left: 7.5%;

	float: none;

	margin-left: 1.5rem;

	color: #fff;
}

/* trending bar chart */
.trending-bar-chart-wrapper {
	width: 100%;
}

.btn-move-up {
	position: relative;
	top: -28px;
	right: -18px;

	margin-right: 10px !important;
}

/*Sparkline*/
.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	border: none !important;
}

.tooltip-class {
	overflow: hidden;

	width: 30px;
	height: 20px;

	color: #fff;
}

#ct2-chart .ct-series.ct-series-a .ct-area {
	fill: #00bcd4;
}

#ct2-chart .ct-series.ct-series-a .ct-point {
	stroke: #00bcd4;
}

#ct2-chart .ct-series.ct-series-a .ct-line {
	stroke: #54e2f4;
}

/*  Widget */
.socialbox .logo {
	font-size: 28px;

	position: absolute;
	bottom: 20px;
	left: 20px;

	color: #fff;
}

.socialbox .info {
	font-size: 15px;

	position: absolute;
	right: 20px;
	bottom: 20px;

	margin: 0;
	padding: 0;

	color: #fff;
}

.chartist-tooltip.tooltip-show {
	display: inline-block;
}

.chartist-tooltip {
	display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.doughnut-chart-status {
		display: none;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.doughnut-chart-status {
		display: none;
	}
	#card-stats .card-stats-compare {
		font-size: 0.8rem;
	}
}

/*----------------------------------------
    Calender
------------------------------------------*/
#full-calendar {
	padding-top: 30px;
}

#calendar h2 {
	font-size: 1.5rem;
	line-height: 35px;

	text-transform: uppercase;
}

#calendar .fc-day-header {
	font-weight: 400;

	text-transform: uppercase;
}

#external-events {
	padding-top: 50px;
}
#external-events .fc-event {
	margin-bottom: 10px;
	padding: 5px;

	cursor: all-scroll;
	text-decoration: none;

	color: #fff;
	border: none;
}

.fc button {
	background: #fff;
}

.fc td {
	border-width: 0 !important;
}

.fc th {
	border-width: 0 !important;
}

.fc-state-active {
	color: #3f51b5 !important;
}

.fc-state-down {
	color: #3f51b5 !important;
}

/*
* Custom Animations
*/
@-webkit-keyframes fadeUp {
	0% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);

		opacity: 1;
	}
}
@-moz-keyframes fadeUp {
	0% {
		-moz-transform: translateY(30px);
		transform: translateY(30px);

		opacity: 0;
	}
	100% {
		-moz-transform: translateY(0px);
		transform: translateY(0px);

		opacity: 1;
	}
}
@-o-keyframes fadeUp {
	0% {
		-o-transform: translateY(30px);
		transform: translateY(30px);

		opacity: 0;
	}
	100% {
		-o-transform: translateY(0px);
		transform: translateY(0px);

		opacity: 1;
	}
}
@keyframes fadeUp {
	0% {
		-webkit-transform: translateY(30px);
		-moz-transform: translateY(30px);
		-o-transform: translateY(30px);
		transform: translateY(30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);

		opacity: 1;
	}
}

.animate.fadeUp {
	-webkit-animation: fadeUp;
	-moz-animation: fadeUp;
	-o-animation: fadeUp;
	animation: fadeUp;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeLeft {
	0% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@-moz-keyframes fadeLeft {
	0% {
		-moz-transform: translateX(-30px);
		transform: translateX(-30px);

		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@-o-keyframes fadeLeft {
	0% {
		-o-transform: translateX(-30px);
		transform: translateX(-30px);

		opacity: 0;
	}
	100% {
		-o-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@keyframes fadeLeft {
	0% {
		-webkit-transform: translateX(-30px);
		-moz-transform: translateX(-30px);
		-o-transform: translateX(-30px);
		transform: translateX(-30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

.animate.fadeLeft {
	-webkit-animation: fadeLeft;
	-moz-animation: fadeLeft;
	-o-animation: fadeLeft;
	animation: fadeLeft;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeRight {
	0% {
		-webkit-transform: translateX(30px);
		transform: translateX(30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@-moz-keyframes fadeRight {
	0% {
		-moz-transform: translateX(30px);
		transform: translateX(30px);

		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@-o-keyframes fadeRight {
	0% {
		-o-transform: translateX(30px);
		transform: translateX(30px);

		opacity: 0;
	}
	100% {
		-o-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

@keyframes fadeRight {
	0% {
		-webkit-transform: translateX(30px);
		-moz-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);

		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);

		opacity: 1;
	}
}

.animate.fadeRight {
	-webkit-animation: fadeRight;
	-moz-animation: fadeRight;
	-o-animation: fadeRight;
	animation: fadeRight;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animation-fast {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.animation-slow {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}

.delay-1 {
	-webkit-animation-delay: 0.3s !important;
	-moz-animation-delay: 0.3s !important;
	-o-animation-delay: 0.3s !important;
	animation-delay: 0.3s !important;
}

.delay-2 {
	-webkit-animation-delay: 0.4s !important;
	-moz-animation-delay: 0.4s !important;
	-o-animation-delay: 0.4s !important;
	animation-delay: 0.4s !important;
}

.delay-3 {
	-webkit-animation-delay: 0.5s !important;
	-moz-animation-delay: 0.5s !important;
	-o-animation-delay: 0.5s !important;
	animation-delay: 0.5s !important;
}

.delay-4 {
	-webkit-animation-delay: 0.6s !important;
	-moz-animation-delay: 0.6s !important;
	-o-animation-delay: 0.6s !important;
	animation-delay: 0.6s !important;
}

.delay-5 {
	-webkit-animation-delay: 0.7s !important;
	-moz-animation-delay: 0.7s !important;
	-o-animation-delay: 0.7s !important;
	animation-delay: 0.7s !important;
}

/*----------------------------------------
  Miscellaneous CSS for demo purpose only
------------------------------------------*/
.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey {
	font-size: 12px;
	font-weight: 500;
	line-height: 55px;

	display: block;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	padding: 0 15px;
}

.dynamic-color .col {
	margin-bottom: 55px;
}

tr.group {
	background-color: #ddd !important;
}
tr.group:hover {
	background-color: #ddd !important;
}

@media only screen and (max-width: 1024px) {
	tfoot {
		display: none;
	}
}

/*----------------------------------------
    Grid - Flat Site Mockup
------------------------------------------*/
.site-layout-example-left {
	height: 300px;

	background-color: #90a4ae;
}

.site-layout-example-right {
	height: 300px;

	background-color: #00bfa5;
}

.site-layout-example-top {
	height: 50px;

	background-color: #ff5252;
}

.flat-text-header {
	display: block;

	width: 80%;
	height: 35px;
	margin: 27px auto;

	background-color: rgba(255, 255, 255, 0.15);
}

.flat-text {
	display: block;

	width: 80%;
	height: 25px;
	margin: 27px auto;

	background-color: rgba(0, 0, 0, 0.15);
}
.flat-text.small {
	width: 25%;
	height: 25px;

	background-color: rgba(0, 0, 0, 0.15);
}
.flat-text.full-width {
	width: 100%;
}

.col.grid-example {
	font-size: 28px;
	line-height: 50px;

	margin: 7px 0;
	padding: 0;

	text-align: center;

	color: #fff;
	border: 1px solid #eee;
	background-color: #ff6347;
}
.col.grid-example span {
	font-weight: 200;
	line-height: 50px;
}

.waves-color-demo .collection-item {
	line-height: 57px;

	height: 57px;
}

.collection a.collection-item:not(.active):hover {
	background-color: #f9f9f9;
}

/*----------------------------------------
    Chrome Browser Grid Example
------------------------------------------*/
.browser-window {
	display: inline-block;
	overflow: hidden;

	width: 100%;
	height: auto;
	margin: 20px 0;

	text-align: left;

	border-radius: 5px 5px 2px 2px;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.browser-window .top-bar {
	height: 30px;

	border-top: thin solid #eaeae9;
	border-bottom: thin solid #ddd;
	border-radius: 5px 5px 0 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#e7e7e6),
		to(#e0e0e0)
	);
	background: -webkit-linear-gradient(#e7e7e6, #e0e0e0);
	background: -moz- oldlinear-gradient(#e7e7e6, #e0e0e0);
	background: -o-linear-gradient(#e7e7e6, #e0e0e0);
	background: linear-gradient(#e7e7e6, #e0e0e0);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.browser-window .circle {
	display: inline-block;

	width: 10px;
	height: 10px;
	margin-right: 1px;

	border-radius: 50%;
}
.browser-window .circles {
	margin: 5px 12px;
}
.browser-window .content {
	display: inline-block;

	width: 100%;
	margin: 0;

	border-radius: 0 0 5px 5px;
	background-color: #fafafa;
}
.browser-window .row {
	margin: 0;
}

.close-circle {
	background-color: #ff5c5a;
}

.minimize-circle {
	background-color: #fdb45c;
}

.maximize-circle {
	background-color: #1bc656;
}

.clear {
	clear: both;
}

.promo i {
	font-size: 6rem;

	display: block;

	color: #ee6e73;
}

.promo-caption {
	font-size: 1.7rem;
	font-weight: 500;

	margin-top: 5px;
	margin-bottom: 0;
}

/*----------------------------------------
    Shadow effect
------------------------------------------*/
.shadow-demo {
	width: 100px;
	height: 100px;
	margin: 20px auto;

	background-color: #26a69a;
}

#input-select .input-field label {
	font-size: 0.8rem;

	position: absolute;
	top: -14px;
}

/*----------------------------------------
    Paginate Style
------------------------------------------*/

.pagination {
	display: inline-block;
	float: right;
	color: #6f6f6f;
	font-size: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	/* padding-left: 20px; */

	a {
		color: inherit;
		cursor: pointer !important;
	}
	li {
		display: none;
		height: 24px;
		text-align: center;
		vertical-align: middle;
		margin: 0 3px;
		a {
			color: #444;
			display: block;
			font-size: 11px;
			padding: 5px 10px;
			line-height: 24px;
			margin-top: -4px;
			text-decoration: none;
		}
		&.active {
			background-color: --primary-color;
			a {
				color: $white !important;
			}
		}
	}

	li.next,
	li.previous {
		width: 28px;
		display: inline-block;
		font-size: 27px;
	}
	li.active a {
		color: #cbcbcb;
	}
	.previous a,
	.next a {
		font-weight: 600;
		font-size: 24px !important;
		margin-top: -6px;
	}
}
.pagination-status {
	display: inline-block;
	float: right;
	color: #6f6f6f;
	font-size: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	height: 28px;
	vertical-align: middle;
	padding-top: 6px;
}

/*----------------------------------------
    Footer
------------------------------------------*/
.page-footer.footer-fixed {
	position: fixed;
	bottom: 0;

	width: 100%;
}

.page-footer .container {
	padding: 0 15px;
}

.page-footer .footer-copyright {
	background-color: transparent;
}

#world-map-markers {
	height: 300px;
}

#polar-chart-holder {
	padding-top: 20px;
}

.footer-light {
	background-color: #fff;
}
.footer-light.page-footer {
	border-top: 1px solid #d2d2d2 !important;
}
.footer-light .footer-copyright {
	color: rgba(0, 0, 0, 0.87);
}

.footer-dark {
	background: #37474f;
}
.footer-dark .footer-copyright {
	color: rgba(255, 255, 255, 0.8);
}
.footer-dark .footer-copyright a {
	color: #fff;
}

/*---------------------------------
    Theme Customizer
-----------------------------------*/
.btn-customizer {
	padding: 0 1rem;
}
.btn-customizer i {
	-webkit-animation: fa-spin 2s infinite linear;
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-moz-keyframes fa-spin {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-o-keyframes fa-spin {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.theme-cutomizer {
	z-index: 99999;
	top: 0;

	width: 360px;
}
.theme-cutomizer .sidenav-close {
	position: absolute;
	top: 5px;
	right: 10px;
}
.theme-cutomizer .customize-devider {
	border: 1px solid #e4e4e4;
}
.theme-cutomizer .menu-options .menu-color-option,
.theme-cutomizer .menu-options .menu-bg-color-option,
.theme-cutomizer .menu-options .navbar-color-option,
.theme-cutomizer .navbar-options .menu-color-option,
.theme-cutomizer .navbar-options .menu-bg-color-option,
.theme-cutomizer .navbar-options .navbar-color-option {
	display: inline-block;

	width: 24px;
	height: 24px;
	margin-right: 8px;
	margin-bottom: 10px;

	cursor: pointer;

	border: 3px solid #fff;
	border-radius: 12px;
}
.theme-cutomizer .menu-options .menu-color-option.selected,
.theme-cutomizer .menu-options .menu-bg-color-option.selected,
.theme-cutomizer .menu-options .navbar-color-option.selected,
.theme-cutomizer .navbar-options .menu-color-option.selected,
.theme-cutomizer .navbar-options .menu-bg-color-option.selected,
.theme-cutomizer .navbar-options .navbar-color-option.selected {
	-webkit-box-shadow: 0 0 10px 3px #03a9f4;
	box-shadow: 0 0 10px 3px #03a9f4;
}

.btn-buy-now {
	position: fixed;
	top: 50%;
	right: -2px;

	padding: 0 1rem;
}

.buy-now-animated {
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

.notification-badge {
	font-family: 'Roboto', sans-serif;
	position: relative;
	font-size: 10px;
	top: -16px;
	color: #ffffff;
	background-color: $primary-color;
	margin: 18px -26px;
	border-radius: 50%;
	padding: 0px 0;
	height: 17px;
	width: 17px;
	text-align: center;
	z-index: 9;
	position: absolute;
	@extend %shadow;
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-moz-keyframes tada {
	0% {
		-moz-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		-moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		-moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		-moz-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@-o-keyframes tada {
	0% {
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-moz-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		-moz-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-moz-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-moz-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}

.theme-cutomizer-trigger {
	position: fixed;
	top: 40%;
	right: -2px;
}

// Corrigindo estilo do JSuites / utilizado pelo jExcel
.warning::before {
	display: none;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.unstyled {
	-webkit-appearance: none;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}
