// ==========================================================================
// Ahgora variables
// ==========================================================================
//
// Table of Contents:
//
//  1· Structure
//  2. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar

//  1. Structure
// ==========================================================================
$ahg-menu-width: 120px;
$ahg-header-higth: 102px;

// 2. Colors
// ==========================================================================
$page-color: $ahg-key-4;
$page-href-color: $primary-color;
$page-background: #ebebf0;

// 2. Badges
// ==========================================================================
$badge-height: 18px;

/* 
   Usage: .label { color: $black; @extend %shadow; }
*/
%shadow {
	box-shadow: 0px 1px 2px rgba(40, 40, 51, 0.16);
}

// 3. Buttons
// ==========================================================================

// Shared styles
$button-border: none !default;
$button-background: $primary-color !default;
$button-background-hover: $primary-color-light !default;
$button-background-press: $primary-color-dark !default;
$button-color: color('gray-lighten5') !default;
$button-font-size: 14px !default;
$button-letter-spacing: 12px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px !default;
$button-radius: 4px !default;

// Disabled styles
$button-disabled-background: $ahg-gray-3 !default;
$button-disabled-color: $ahg-white !default;

// Large buttons
$button-large-font-size: 16px !default;
$button-large-letter-spacing: 14px !default;
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: 48px !default;
$button-large-padding: 0 24px !default;
$button-floating-large-size: 56px !default;

// Small buttons
$button-small-font-size: 11px !default;
$button-small-letter-spacing: 10px !default;
$button-small-icon-font-size: 1.2rem !default;
$button-small-height: 24px !default;
$button-small-padding: 0 12px !default;
$button-floating-small-size: 24px !default;

// Flat buttons
$button-flat-color: $primary-color;
$button-flat-disabled-color: $ahg-gray-3 !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $secondary-color-light !default;
$button-floating-background-press: $secondary-color-dark !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-radius: 50% !default;

//Outlined buttons
$button-outlined-background: transparent;
$button-outlined-border: 1px;

// 9. Dropdown
// ==========================================================================

$dropdown-bg-color: $white !default;
$dropdown-hover-bg-color: color('waterloo-lighten4') !default;
$dropdown-hover-color: color('waterloo-base');
$dropdown-focus-bg-color: color('waterloo-lighten3');
$dropdown-color: color('waterloo-lighten1') !default;
$dropdown-item-height: 50px !default;

// 10. Forms
// ==========================================================================

//$form-border-color: $ahg-key-3;
$form-color: $page-color;

// Text Inputs + Textarea
$input-height: 48px !default;
$input-border-color: $ahg-key-3;
$input-border: $ahg-key-3;
$input-background: $white;
$input-error-color: $error-color !default;
$input-success-color: $success-color;
$input-color: $ahg-key-4;
$input-focus-color: $ahg-key-4;
$input-font-size: 14px !default;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 16px 8px 16px 16px !default;
$label-font-size: 12px;
$input-disabled-color: $ahg-key-3;
$input-disabled-solid-color: $ahg-key-3;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$input-icon-size: 24px;
$placeholder-text-color: $ahg-key-4;

// Radio Buttons
$radio-fill-color: color('waterloo-base') !default;
$radio-empty-color: color('waterloo-base') !default;
$radio-border: 2px solid color('waterloo-base') !default;

// 11. Global
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;

// 12. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width * 2)/3 !default;

//  20. Typography
// ==========================================================================
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
$font-size: 14px;
$text-color: $page-color;
