@import '../_color-variables.scss';
@import '../_variables.scss';

/*  [type='checkbox'] + span:not(.lever) {
	padding-left: calc(24px + 14px + 24px + 14px);
}

[type='checkbox'] + span:not(.lever):before,
[type='checkbox']:not(.filled-in) + span:not(.lever):after {
	border-color: $ahg-gray-4;
}

[type='checkbox'] + span:not(.lever):before {
	font-size: 21px;
	font-family: 'Material Icons';
	top: 0px !important;
	left: 0px !important;
	width: 30px !important;
	height: 30px !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	transform: none !important;
	margin: -2px !important;
	padding: 4px !important;
	-webkit-transition: 0.5s ease !important;
	transition: 0.5s ease !important;
	border-radius: 50% !important;
}

[type='checkbox']:checked + span:not(.lever):before {
	content: '\e834';
	color: #ff7020;
	z-index: 9;
}

[type='checkbox'] + span:not(.lever):before,
[type='checkbox']:not(.filled-in) + span:not(.lever):after {
	content: '\e835';
	color: $ahg-gray-4;
}

[type='checkbox']:checked + span:not(.lever):hover:before,
[type='checkbox'] + span:not(.lever):hover:before {
	background: rgba(255, 112, 32, 0.1);
	border-radius: 50%;
} 


*/

[type='checkbox'].filled-in:checked + span:not(.lever):after {
	border: 2px solid $primary-color;

	background-color: $primary-color;
}

[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
	background-color: transparent;
	border: 2px solid $ahg-gray-4;
}
