@import '../_color-variables.scss';
@import '../_variables.scss';

/* Radio Buttons
   ========================================================================== */

// Remove default Radio Buttons

[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after {
	border: 2px solid $radio-empty-color;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
	border: $radio-border;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
	background-color: $radio-fill-color;
}

/* Focused styles */
[type='radio'].tabbed:focus + span:before {
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Disabled Radio With gap */
[type='radio'].with-gap:disabled:checked + span:before {
	border: 2px solid $input-disabled-color;
}

[type='radio'].with-gap:disabled:checked + span:after {
	border: none;
	background-color: $input-disabled-color;
}

/* Disabled style */
[type='radio']:disabled:not(:checked) + span:before,
[type='radio']:disabled:checked + span:before {
	background-color: transparent;
	border-color: $input-disabled-color;
}

[type='radio']:disabled + span {
	color: $input-disabled-color;
}

[type='radio']:disabled:not(:checked) + span:before {
	border-color: $input-disabled-color;
}

[type='radio']:disabled:checked + span:after {
	background-color: $input-disabled-color;
	border-color: $input-disabled-solid-color;
}
